@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Asap', sans-serif;
    
}
body{
    background-color: #2b303a;
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding: 20px;
    color: #fffbff;
    font-size: 38px;
    font-weight: bolder;
    background-color: #A44200;
}
.subtext{
    color: #fffbff;
    display: flex;
    font-size: 30px;
    padding: 15px;
    align-items: center;
    justify-content: center;
}
.game{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.choices{
    text-align: center;
    border-color: #fffbff;
    border-style: solid;
    border-radius: 200px;
    padding: 10px;
    
}
img{
    height: 225px;
    width: auto;

}
.result-round{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fffbff;
    font-size: 27px;
}
.pc,.user{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fffbff;
    padding: 10px;
    font-size: 25px;
}
.result-game{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    padding: 60px 30px;
    
}
footer{
    display: flex;
    color: orange;
    padding: 20px;
    justify-content: end;
    align-items: center;
    font-weight: bolder;
}


span{
    font-size: 27px;
    color: #fffbff;
}
.btn-again{
    display: flex;
    justify-content: center;
    align-items: center;
}
#again{
    padding: 5px 20px;
    font-size: 18px;
    color: #fffbff;
    background-color: #1282a2;
    border-style: none;
    border-radius: 100px;
}
#again:hover{
    cursor: pointer;
    background-color: #12a24294;
}
.choices:hover{
    cursor: pointer;
    background-color: #D58936;
}

span{
    padding: 20px 20px;
}

.win_glow{
    border-color: 5px solid green;
    box-shadow: 0 0 10px green;
}
.lose_glow{
    border-color: 5px solid red;
    box-shadow: 0 0 10px red;
}
.tie_glow{
    border-color: 5px solid gray;
    box-shadow: 0 0 10px gray;
}